.App {
  min-width: 530px;
  text-align: left;
  position: relative;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
  text-align: center;
}

.content {
  display: flex;
  min-width: inherit;
  position: relative;
  text-align: left;
}


.categories {
  float: left;
  width: 130px;
  margin: 5px;
  clear: right;
}

.category-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.category {
  padding: 5px;
  clear: both;
}

.navigation ul li {
  margin-bottom: 3px;
  padding: 5px;
  background-color: #222;
}

.navigation a {
  text-decoration: none;
  color: white;
}

.navigation ul li:hover {
  background-color: blue;
}


.posts-header {
  margin: 5px;
  background-color: #b8b8b8;
  display: flex;
}

.post-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.post-header {
  height: 50px;
  background-color: #fff;
}

.post-title,
.post-author,
.post-num-comments {
  display: inline-block;
  padding: 5px;
}


.post-view {
  margin: 5px;
  background-color: #0f6;
}


.comment-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.vote-score {
  height: 50px;
  float: left;
}

.vote:hover {
  background-color: #b8b8b8;
}

.vote-down {
  margin-left: 5px;
  margin-right: 5px;
  color: red;
}

.vote-up {
  margin-left: 5px;
  margin-right: 5px;
  color: green;
}


.modal {
  position: absolute;
  top: 40px;
  left: 200px;
  right: 200px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}
