.App {
  min
  min-width: 530px;
  text-align: center;
  position: relative;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.content {
  min-width: inherit;
  position: relative;
  text-align: left;
}

.categories {
  float: left;
  width: 130px;
  margin: 5px;
  clear: right;
}

.posts-view {
  float: left;
  margin: 5px;
  background-color: #b8b8b8;
}

.post-view {
  float: left;
  margin: 5px;
  background-color: #0f6;
}

.category-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.post-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.vote-score {
  height: 50px;
  float: right;
}

.navigation ul li {
  margin-bottom: 3px;
  padding: 5px;
  background-color: #222;
}

.navigation a {
  text-decoration: none;
  color: white;
}

.navigation ul li:hover {
  background-color: blue;
}

.category {
  padding: 5px;
  clear: both;
}

.post-header {
  height: 50px;
  background-color: #fff;
}

.post-title {
  float: left;
}

.comment-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.vote:hover {
  background-color: #b8b8b8;
}

.vote-down {
  margin-left: 5px;
  margin-right: 5px;
  color: red;
}

.vote-up {
  margin-left: 5px;
  margin-right: 5px;
  color: green;
}